* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  background: linear-gradient(90deg, #526e8a, #4d5383);
  min-height: 100vh;
  position: relative;
}

textarea {
  width: 90%;
  height: 60px;
  resize: none;
  border-radius: 10px 0px 0px 10px;
  background-color: #363e5b;
  float: left;
  border: none;
  outline: none;
}
.btn {
  background-color: #363e5b;
  width: 10%;
  border-radius: 0px 10px 10px 0px;
  height: 60px;
  border: none;
  font-size: 20px;
  border-left: 2px solid #333;
  color: #fff;
}

.btn:hover {
  opacity: 0.7;
}
.message {
  padding: 11px 9px;
  border-radius: 15px;
  background: #82ccdd;
  display: inline-block;
  font-size: 15px;
}
.me-msg {
  background: #78e08f;
}

.form {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  left: 0;
  padding: 0px 20px;
}
